body {
    background-color: lightgreen;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-family: "Indie Flower", cursive;
    font-size: 50px;
}

h2 {
    border: 12px outset darkorange;
    background-color: darkorange;
    display: inline-block;
    padding: 5px;
}

.container {
    display: grid;
    grid-template-columns: 2fr .5fr;
}

.content-box {
    border: 5px solid black;
    padding: 10px 20px 10px 20px;
    margin-left: 20px;
    margin-right: 20px;
    background: radial-gradient(circle, rgba(252,146,103,1) 0%, rgba(255,163,126,1) 51%);
}

.content-box img {
    display: block;
}

aside {
    text-align: center;
}

.list-no-bullets {
    list-style: none;
    padding: 0;
}

.audio-list {
    font-style: italic;
}

.album-list {
    font-style: italic;
}

.album-list img {
    width: 100%;
}

form {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

form div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-required {
    color: red;
}

footer {
    padding-top: 10px;
}